.profile {
  display: flex;
}
.leftdiv {
  width: 25%;
  background-color: darkgrey;
  height: 100vh;
}
.rightdiv {
  width: 75%;
  height: 100vh;
  background-color: rgb(218, 226, 232);
}
.profile-items {
  display: flex;
  margin: 2rem 1rem;

  align-items: center;
}
.profile-items img {
  margin-right: 2rem;
}

.profile-icons {
  height: 6rem;
  width: 6rem;
}

.rightdiv {
  position: relative; /* Required for absolute positioning */
}
.rightdiv h1 {
  margin-top: 3rem;
}

.profile-details {
  background-color: white;
  width: 90%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 1rem;
  transform: translate(-50%, -50%);
  box-shadow: 10px 1px 20px rgba(141, 127, 219, 0.1);
  /* Optionally, add more styles as needed */
}

.nameAndGender {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 4rem;
  text-align: start;
}

.dob {
  justify-content: space-around;
  align-items: center;
  text-align: start;
}

.dob h2,
.nameAndGender h2 {
  color: rgb(137, 132, 132);
}

.dob h3,
.nameAndGender h3 {
  font-weight: bolder;
  color: rgb(109, 73, 73);
}
.contact-info {
  margin-top: 1rem;
}
.contact-info h1 {
  color: rgb(16, 18, 9);
  font-size: 2rem;
  font-weight: bolder;
}

.contact-info button {
  /* Adjust margi5n as needed */
  padding: 8px;
  margin-top: -3rem;

  color: white;
  font-size: 2rem;
  background-color: green;

  /* Adjust padding as needed */
  /* Example button color */

  cursor: pointer;
}

.contact-info button:hover {
  background-color: #0056b3; /* Example button hover color */
}
